:root {
    --main-dark-background: #111;
    --lighter-dark-background: #222;
    --lighter-ER-dark-background: #333;
}

/* tag elements mostly */

body {
    color: #ccc;
}

a,
#interwiki div.menu-item a,
#side-bar div.menu-item a {
    color: #e85f5f;
}

blockquote,
#toc,
div.blockquote,
table.wiki-content-table th {
    background: var(--lighter-ER-dark-background);
}

/* id, class elements */

#container, 
#content-wrap {
    background: var(--main-dark-background);
}

#side-bar {
    background-color: #001;
}

#side-bar .side-block,
#side-bar .side-block.resources,
#interwiki .side-block,
.content-panel,
.content-panel.standalone {
    background: var(--lighter-dark-background) !important;
}

#side-bar .heading, 
#interwiki .heading {
    color: #fe2f2f;
}

.scp-image-block .scp-image-caption {
    background: var(--lighter-dark-background);
}